.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    padding: 0;
}

.left-header {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

.blue {
    color: rgb(98, 122, 228)
}