.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-header {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}